* {
    margin: 0;
    padding: 0;
}

.wrap {
    margin: 0 auto;
    width: 100%;
}

.wrap > div {
    float: left;
    margin: 1%;
    width: 31%;
    padding-top: 31%;
    background-color: #FF8C00;
    border-radius: 10%;
}